/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/tenant*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
bakphpstorm.config.js
.phpstorm.meta.php
_ide_helper*.php
_routes.json
.DS_Store
